{% extends 'base.html.twig' %}

    {% block title %}Edit Alias {% endblock %}

    {% block body %}
        <h1>Edit Alias</h1>

        {% embed 'alias/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
