{% extends 'popup.html.twig' %}

    {% block title %}New Alias {% endblock %}

    {% block body %}
        <h1>New Alias</h1>

        {% embed 'alias/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
