    {% extends 'base.html.twig' %}

    {% block title %}Edit Compilation {% endblock %}

    {% block body %}
    <h1>Edit Compilation</h1>

    {% embed 'compilation/partial/form.html.twig' %}
    {% endembed %}

    {% endblock %}

    {% block javascripts %}
    {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
