{% extends 'base.html.twig' %}

    {% block title %}Edit Genre {% endblock %}

    {% block body %}
        <h1>Edit Genre</h1>

        {% embed 'genre/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
