    {% extends 'base.html.twig' %}

    {% block title %}Edit Date Year {% endblock %}

    {% block body %}
    <h1>Edit Date Year</h1>

    {% embed 'date_year/partial/form.html.twig' %}
    {% endembed %}

    {% endblock %}

    {% block javascripts %}
    {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
