{% extends 'base.html.twig' %}

{% block title %}Person Search{% endblock %}

 {% block pageheader %}
     <h1>Person Search</h1>
 {% endblock %}

{% block body %}

    <form method="get" action="{{ path('person_solr') }}" class="form-horizontal">
        <div class='row'>
            {% embed '@NinesSolr/search/partial/search_field.html.twig' with {'path': 'person_solr'} %}
            {% endembed %}
        </div>
        <div class='row'>
            <div class='col-sm-3'>
                {% if result %}
                    {% include '@NinesSolr/search/partial/facet_range.html.twig' with {
                        'facet': result.getFacet('birthDate'),
                        'filter': 'birthDate',
                        'header': 'Birth Date'
                    } %}

                    {% include '@NinesSolr/search/partial/facet_range.html.twig' with {
                        'facet': result.getFacet('deathDate'),
                        'filter': 'deathDate',
                        'header': 'Death Date'
                    } %}
                    {% include '@NinesSolr/search/partial/facet.html.twig' with {
                        'facet': result.getFacet('birthPlace'),
                        'filter': 'birthPlace',
                        'header': 'Birth Place',
                        'limit': 10
                    } %}
                {% endif %}
            </div>
            <div class='col-sm-9'>
                {% if result and result.count > 0 %}
                    {% set pagination = result.paginator %}

                    {% embed '@NinesSolr/search/partial/header.html.twig' with {'pagination': pagination} %}
                    {% endembed %}

                    {% embed '@NinesSolr/search/partial/result.html.twig' with {'result': result} %}
                    {% endembed %}

                    {% if pagination %}
                        <div class="navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </form>

{% endblock %}
